@font-face {
    font-family: "nova";
    src: url(fonts/NovaSquare-Regular.ttf);
}

@font-face {
    font-family: "pacifico";
    src: url(fonts/Pacifico-Regular.ttf);
}

* {
    color: rgb(67, 67, 67);
    font-family: nova;
}

.navbar {
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px;
    height: 70px;
}

.navbar-brand {
    font-family: "pacifico";
    margin-left: 60px;
}

.resume {
    text-decoration: none;
    color: #000 !important;
}

.mian1st {
    margin: 100px auto;
}


.main1 {

    display: flex;
    align-self: center;
    margin-bottom: 10px;
    font-size: 25px;

}

.main1>div>p {
    text-align: justify;
}

.contact {
    text-decoration: none;
    color: #000;
}

.fler {
    display: flex;
    justify-content: flex-start;
}

.fler li {

    list-style: none;
    display: flex;
    margin-left: 10px;
}

.main2nd {
    margin: 100px auto;
}

.centre {
    /* display: flex; */
    align-self: center;
}

.centrelearn {
    margin: 100px auto;
}

.learn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.learn img {
    width: 50px;
    margin-left: 10px;
    margin-top: 30px;
}

.main3rd {
    margin: 100px auto;
}

.row h1 {
    padding: 25px;
}

.edu img {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
}

.edu img:hover {
    transform: scale(1.2);
}

.line {
    color: blue;
}

.edu {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}




footer {
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    padding: 30px;

}

footer span {
    font-family: "pacifico";
}

.footer {
    text-align: center;
}

.footer img {
    width: 50px;
    padding: 5px;

}

.main4th {
    margin: 100px auto;
}

.cardmain {

    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;


}

.card {
    margin: 50px auto;
    margin-left: 10px;
    text-align: center;
}

.btn {
    background-color: gray !important;
    border: none !important;
}

.main5th {
    margin: 100px auto;
}